---
import Image from 'astro/components/Image.astro'

export interface Props {
	data: {
		title: string
		subtitle: string
		image: ImageMetadata
		transitionDelay: string
	}
}

const { title, subtitle, image, transitionDelay } = Astro.props.data
---

<div class=`triple-card duration-500 opacity-0 -translate-x-full ${transitionDelay}`>
	<div
		class="group container flex h-64 grid-flow-col rounded-lg bg-primary-300 duration-500 ease-in-out hover:bg-secondary-100"
	>
		<Image class="h-full w-40 sm:w-52" src={image} alt="" height={240} width={240} />
		<div class="flex w-full flex-col px-4 py-4">
			<h2
				class="flex min-h-12 items-center justify-center break-normal text-base leading-6 duration-500 ease-in-out group-hover:text-primary"
			>
				{title}
			</h2>
			<span
				class="text-sm font-normal leading-4 text-secondary duration-500 ease-in-out group-hover:text-primary"
				>{subtitle}</span
			>
		</div>
	</div>
</div>
