---
// import Icon from '@components/shared/Icon.astro'

export interface Props {
	phoneNumber: string
}

const { phoneNumber } = Astro.props
---

<a class="hidden text-xs md:flex" href=`tel:${phoneNumber}`>
	<!-- <Icon icon="phone" /> -->
	<span class="pl-1 font-bold text-primary-900">{phoneNumber}</span></a
>
