---
import { Image } from 'astro:assets'
import logo from '@media/images/logo.png'
import { Menu } from '@components/navbar/Menu.tsx'

const pathName = Astro.url.pathname
---

<div class="fixed top-0 z-10 w-full bg-primary-700 bg-opacity-95 px-9 text-primary shadow-md">
	<div class="mx-auto flex max-w-7xl items-center justify-between">
		<Image src={logo} alt="logo" height={64} loading={'eager'} />
		<Menu pathName={pathName} client:only />
		<!-- <Contact phoneNumber="32 232 24 02" /> -->
	</div>
</div>
