---
import Icon from '@components/shared/Icon.astro'
---

<div id="kontakt" class="bottom-0 flex w-full bg-primary-700 text-primary">
	<div
		class="container flex w-full flex-col items-center justify-center gap-8 px-11 py-11 md:flex-row md:items-start md:justify-between md:gap-20"
	>
		<div class="flex w-full flex-col">
			<h2>NEXT TO <span class="text-secondary">HEAVEN</span></h2>
			<span class="text-xl">Zapraszamy na nasze social media:</span>
			<div class="my-6 flex gap-16">
				<a
					href="https://www.facebook.com/profile.php?id=61560682794663"
					class="w-8 after:border-transparent"
				>
					<Icon icon="facebook" />
				</a>
				<a href="https://www.instagram.com/yummithesamoyed/" class="w-8 after:border-transparent">
					<Icon icon="instagram" />
				</a>
			</div>
			<span>Codziennie aktualizacja z zycia naszych szczeniaków!</span>
		</div>

		<div class="flex w-full flex-col">
			<h2>Kontakt</h2>
			<div class="flex flex-col gap-3">
				<span class="font-bold">Telefon</span>
				<a href="tel:602 285 020"><span> 602 285 020</span></a>

				<span class="font-bold">Lokalizacja</span>
				<span>Gliwice, Śląsk</span>
				<span class="font-bold">Email</span>
				<span>bartoszskrobacki@gmail.com</span>
			</div>
		</div>
	</div>
</div>
