---

---

<div class="bottom-0 flex w-full bg-primary-700 text-primary">
	<div
		class="flex w-full flex-col items-center justify-center gap-8 px-11 py-11 md:flex-row md:items-start md:justify-between md:gap-20 xl:px-80"
	>
		<div class="flex w-full flex-col">
			<h2>NEXT TO <span class="text-secondary">HEAVEN</span></h2>
			<a href="https://www.facebook.com/obiadygliwice" class="w-8 after:border-transparent">
				<!-- <Icon icon="facebook" /> -->
			</a>
		</div>

		<div class="flex w-full flex-col">
			<h2>Godziny otwarcia</h2>
			<div class="flex flex-col gap-3">
				<span class="font-bold">Poniedziałek-Piątek</span>
				<span>10.00-18.00</span>
				<span class="font-bold">Sobota</span>
				<span>10.00-16.00</span>
				<span class="font-bold">Niedziela</span>
				<span>11.00-17.00</span>
			</div>
		</div>
		<div class="flex w-full flex-col">
			<h2>Kontakt</h2>
			<div class="flex flex-col gap-3">
				<span class="font-bold">Telefon</span>
				<a href="tel:602 285 020"><span> 602 285 020</span></a>

				<span class="font-bold">Lokalizacja</span>
				<span>Gliwice</span>
				<span class="font-bold">Email</span>
				<span>bartoszskrobacki@gmail.com</span>
			</div>
		</div>
	</div>
</div>
