---
import main from '@media/images/stand.png'
import Image from 'astro/components/Image.astro'
---

<script>
	const observer = new IntersectionObserver((entries) => {
		entries.forEach((entry) => {
			if (entry.isIntersecting) {
				entry.target.firstElementChild?.classList.remove('translate-x-[200%]')
				entry.target.classList.add('opacity-100')
			}
		})
	})

	const entries = document.querySelectorAll('.main-banner')
	entries.forEach((el) => observer.observe(el))
</script>

<div id="main" class="w-full overflow-hidden bg-secondary-100 py-6 pt-10 duration-700 md:pt-20">
	<div class="main-banner container flex flex-col justify-start md:flex-row">
		<div class="flex flex-col-reverse px-10 pt-20 sm:flex-col md:px-20">
			<span>NOWY MIOT DO ODBIORU JUŻ W LIPCU</span>
			<h1 class="mb-8 text-4xl md:text-7xl">
				NEXT TO <span class="text-secondary">HEAVEN</span>
			</h1>
			<p class="hidden text-primary-600 sm:block">
				Domowa hodowla, w której psy są zawsze na pierwszym miejscu. Zapraszamy do naszego nowego
				miotu!
			</p>
		</div>
		<div class="main-banner w-full px-10 pt-10 opacity-0 md:px-32">
			<Image
				class="translate-x-[200%] transition-transform duration-1000"
				src={main}
				alt=""
				width={400}
				loading="eager"
			/>
		</div>
	</div>
</div>
